<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="AuthApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="AuthApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<AuthApp.Properties.Settings>
   <setting name="RefreshToken" serializeAs="String">
    <value />
   </setting>
  </AuthApp.Properties.Settings>
	</userSettings>
	<applicationSettings>
		<AuthApp.Properties.Settings>
   <setting name="Auth0Domain" serializeAs="String">
    <value>dev-13haosfdj7v4tele.us.auth0.com</value>
   </setting>
   <setting name="Auth0ClientId" serializeAs="String">
    <value>kPYyaRzG1OcqMOkgsXgFOSpiW5pJIX38</value>
   </setting>
  </AuthApp.Properties.Settings>
	</applicationSettings>
</configuration>